@import url("https://fonts.googleapis.com/css?family=Maven+Pro");
@import url("https://fonts.googleapis.com/css?family=Asap:400,500,700");

$layout-breakpoint-small: 576px; //420px
$layout-breakpoint-medium: 768px; //670px
$layout-breakpoint-large: 992px; //880px
$layout-breakpoint-extralarge: 1200px; //1040px

$color-green: #00ff00;
$color-white: #fff;
$color-orange: #ffb900;
$color-red: #ff3200;
$color-yellow: #fff9c4;
$color-card-bg: rgba(0, 0, 0, 0.4);
